h1{
    margin-left: 15%;
    margin-top: 1%;
    font-size: 100px;
    position: absolute;
}
h2{
    margin-left: 14%;
    font-size: 40px;
    position: absolute;
    margin-top: 20%;
}
a{
    font-size: 50px;
    display:inline-block;
    margin-left: 15%
}
header{
    background-color: grey;
}
body{
    background-color: rgb(255, 255, 180);
}
img{
    margin-left: 75%;
    margin-top: 5%;
    position: absolute;
}
footer{
    background-color: gray;
    margin-top: 37.5%;
}
p{
    font-size: 20px;
    margin-left: 15%;
    position: absolute;
    margin-top: 10%;
}
#margin{
    margin-top: 12%;
}
#button{
    display: inline-block;
    color: white;
    background-color: gray;
    text-decoration: none;
    padding: 6px 16px;
    border-radius: 6px;
}
